<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyonghang.supplychain.dao.MkSkuAttrRelationMapper">
    <resultMap id="BaseResultMap" type="com.xinyonghang.supplychain.model.MkSkuAttrRelation">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="SKU_ID" jdbcType="NVARCHAR" property="skuId"/>
        <result column="SKU_ATTR_ID" jdbcType="NVARCHAR" property="skuAttrId"/>
        <result column="SKU_VALUE" jdbcType="NVARCHAR" property="skuValue"/>
    </resultMap>


    <sql id="BASE_COLUMN_LIST">
        ID, SKU_ID, SKU_ATTR_ID, SKU_VALUE
    </sql>

    <sql id="query">
        <where>
            <if test="id != null and id != '' ">
                AND ID = #{id}
            </if>
        </where>
    </sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="BASE_COLUMN_LIST"/>
        FROM MK_SKU_ATTR_RELATION
        <include refid="query"/>
    </select>

</mapper>